<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alyezz.beygollak" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BeyGollak"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="BeyGollak"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="BeyGollak"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Register"
            android:label="Register"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".EditProfile"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <!--<activity-->
            <!--android:name=".Profile"-->
            <!--android:label="@string/title_activity_profile"-->
            <!--android:theme="@style/AppTheme.NoActionBar" >-->
        <!--</activity>-->
        <activity
            android:name=".Post"
            android:label="@string/title_activity_post"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".FriendList"
            android:label="@string/title_activity_friend_list"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <!--<activity-->
            <!--android:name=".Streets"-->
            <!--android:label="@string/title_activity_streets"-->
            <!--android:theme="@style/AppTheme.NoActionBar" >-->
        <!--</activity>-->
    </application>

</manifest>
